table, tr, td{
  border: 1px solid black;
}
table{
  border-collapse: collapse;
  width: 900px;
  margin: auto;
}
td{
  padding: 6px;
}
.title-tr{
  background-color: aqua;
  text-align: center;
}
.title-tr span{
  font-weight: bold;
}
.title-tr > td > span > span{
  color: red;
  font-style: italic;
  font-size: 0.9rem;
}

table > tbody > tr > td:first-child{
  text-align: center;
}
.red-font{
  color: red;
}
.btn-div{
  text-align: center;
  margin-top: 10px;
}